.pdp-container {
  max-width: 1376px;
  margin: auto;
}

.pdp {
  padding: 15px 0;
  min-height: 650px;
}

.pdp-title {
 color: var(--primary-red);
 font-weight: 500;
}

.pdp-details-wrapper {
  display: flex;
  flex-direction: column;
}

.pdp-list-item {
  border: 1px solid var(--primary-black);
  padding: 8px 0 8px 15px;
  color: var(--primary-dark-gray);
  font-size: 16px;
  font-family: var(--headings-ff-black);
}

.pdp-list-item-value {
  font-family: var(--body-ff-bold);
}

.pdp-content-column {
  margin-top: 20px;
}

.pdp-selected-image {
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0 0 0 / 10%);
  display: flex;
  justify-content: center;
}

.pdp-image {
  max-width: 400px;
  margin: auto;
}

.pdp-image-list {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.pdp-image-item {
  width: 72px;
  height: 62px;
  margin-right: 15px;
  cursor: pointer;
}

.pdp-image-item.active {
  border: 4px solid var(--primary-red);
}

.pdp-gallery-image,
.pdp-image {
  width: 100%;
  height: 100%;
}

.pdp-catalogs-wrapper,
.pdp-manuals-wrapper,
.pdp-sds-wrapper {
  padding: 40px 0;
}

.pdp-catalogs .pdp-catalogs-list,
.pdp-manuals .pdp-manuals-list,
.pdp-sds .pdp-sds-list {
  margin: 30px 0 20px;
}

.pdp-catalogs-list-item,
.pdp-manuals-list-item {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
}

.pdp-catalogs-list-title,
.pdp-catalogs-list-link,
.pdp-manuals-list-title,
.pdp-manuals-list-link {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid var(--primary-black);
  padding: 8px 15px;
  font-size: 16px;
  font-family: var(--body-ff);
}

.pdp-catalogs-list-title {
  color: var(--primary-black);
  font-weight: bold;
}

.pdp-blogs .pdp-blogs-list {
  padding: 5px 0;
}

.pdp-blogs .pdp-blogs-list-item {
  list-style: none;
  margin: 20px 0;
}

.pdp-blogs-date {
  color: var(--secondary-gray-4);
  font-size: var(--heading-font-size-xxs);
}

.section.accordion {
  padding: 20px 32px;
  border-bottom: 1px solid var(--primary-black);
  max-height: 75px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.section.accordion h5 {
  color: var(--primary-red);
  text-transform: capitalize;
  padding: 5px 0;
  margin: 0 0 15px;
  cursor: pointer;
  font-size: 70%;
  transition: font-size 0.3s ease-in-out;
}

.section.accordion.accordion-open h5 {
  font-size: var(--heading-font-size-s);
}

.section.accordion.accordion-open,
.section.accordion.pdp-part-fit.accordion-open {
  max-height: 2000px;
}

.section.accordion h5::before {
  font-family: fontawesome, sans-serif;
  content: "\f0d7";
  margin-right: 20px;
}


.section.accordion.pdp-part-fit {
  max-height: 82px;
  border: none;
}

.section.accordion.pdp-part-fit .default-content-wrapper {
  border: 5px solid var(--c-yellow);
}

.section.accordion.pdp-part-fit h5 {
  font-size: 12px;
  font-family: var(--body-ff);
  background-color: var(--c-yellow);
  color: var(--primary-black);
  padding: 14px 24px 19px;
  display: flex;
  height: 57px;
  align-items: baseline;
}

.section.accordion.pdp-part-fit h5::before,
.section.accordion.pdp-part-fit h5::after {
  font-size: 15px;
}

.section.accordion.accordion-open h5::before {
  content: "\f0d8";
}

.section.accordion.pdp-part-fit h5::before,
.section.accordion.pdp-part-fit.accordion-open h5::before {
  content: "\f06a";
}

.section.accordion.pdp-part-fit h5::after {
  font-family: fontawesome, sans-serif;
  content: "\f078";
  margin-left: auto;
}

.section.accordion.pdp-part-fit.accordion-open h5::after {
  content: "\f077";
}

.pdp-part-fit-expanded {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 22px 20px 40px;
}

.pdp-part-fit-header {
  display: grid;
  gap: 14px 20px;
  grid-template:
    "title" auto
    "search" auto
    "filter" auto
    "count" auto  / 1fr;
}

.pdp-part-fit-filter {
  grid-area: filter;
}

.pdp-part-fit-count {
  grid-area: count;
  font-family: var(--headings-ff-bold);
}

.pdp-part-fit-search {
  grid-area: search;
  position: relative;
}

.pdp-part-fit-title {
  grid-area: title;
  font-size: 32px;
  font-family: var(--headings-ff-bold);
  text-transform: none;
}

.pdp-part-fit-search-input {
  height: 56px;
  width: 100%;
  font-size: 16px;
  padding: 17px 17px 17px 56px;
  border-radius: 28px;
  outline: none;
  border: 2px solid var(--primary-medium-gray);
}

.pdp-part-fit-search::before {
  position: absolute;
  font-family: fontawesome, sans-serif;
  content: "\f002";
  top: 13px;
  left: 24px;
  bottom: 17px;
  color: black;
  font-size: 20px;
  z-index: 1;
}

.pdp-part-fit-filter-title {
  font-family: var(--headings-ff-bold);
}

.pdp-part-fit-make-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px 0 10px;
}

.pdp-part-fit-make-list-item {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.25px;
  padding: 12px 12px 8px;
  border-radius: 99px;
  border: 1px solid var(--secondary-light-gray);
  cursor: pointer;
  user-select: none;
}

.pdp-part-fit-make-list-item.active {
  background-color: var(--primary-red);
  color: var(--primary-white);
}

.pdp-part-fit-list {
  display: flex;
  flex-direction: column;
  gap: 50px 4%;
}

.pdp-part-fit-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  border: 2px solid var(--primary-black);
  border-radius: 5px;
}

.pdp-part-fit-list-item.pdp-hide-by-filter,
.pdp-part-fit-list-item.pdp-hide-by-search {
  display: none;
}

.pdp-part-fit-make {
  font-family: var(--headings-ff-black);
  text-transform: none;
  margin: 0;
}

.pdp-part-fit-model {
  font-family: var(--headings-ff-black);
  color: var(--primary-red);
  text-transform: none;
  margin: 0 0 25px;
}

.pdp-part-fit-model-description,
.pdp-part-fit-year,
.pdp-part-fit-engine-make,
.pdp-part-fit-engine-model {
  font-size: var(--body-font-size-xs);
  line-height: 1.2;
  margin: 0;
}

.pdp-part-fit-list-item .pdp-part-fit-model-description {
  margin: 0 0 auto;
}

.section.breadcrumbs {
  background-color: var(--primary-light-gray);
  padding: 0;
  margin: 0;
  max-width: unset;
  min-height: 62px;
}

.section.breadcrumbs .breadcrumbs-wrapper {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.section.breadcrumbs .breadcrumb-list {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 16px;
}

.section.breadcrumbs a.breadcrumb-link {
  display: block;
  color: var(--secondary-gray-4);
  text-decoration: none;
  font-size: var(--body-font-size-s);
  margin: 0 3px;
  text-transform: capitalize;
}

.section.breadcrumbs a.breadcrumb-link::after {
  content: '/';
  margin: 0 5px;
  color: var(--secondary-gray-4);
}

.section.breadcrumbs + .section.pdp-container {
  padding: 0 32px;
}

@media (min-width: 400px) {
  .section.accordion h5 {
    font-size: 90%;
  }

  .section.accordion.pdp-part-fit h5 {
    font-size: 15px;
  }

  .pdp-part-fit-list {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: 1fr;
  }

  .pdp-part-fit-make {
    font-size: 32px;
  }

  .pdp-part-fit-model {
    font-size: 24px;
    margin: 0;
  }

  .pdp-part-fit-model-description,
  .pdp-part-fit-year,
  .pdp-part-fit-engine-make,
  .pdp-part-fit-engine-model {
    font-size: 16px;
  }
}

@media (min-width: 595px) {
  .pdp-part-fit-list {
    grid-template-columns: 1fr 1fr;
  }

  .section.accordion h5 {
    font-size: var(--heading-font-size-s);
  }
}

@media (min-width: 767px) {
  .pdp-details-wrapper {
    flex-direction: row-reverse;
    padding: 0;
  }

  .pdp-image-column,
  .pdp-content-column {
    flex: 1;
    padding: 20px;
  }

  .pdp-image-column{
    align-self: flex-start;
    margin-top: 70px;
  }

  .pdp-content-column {
    margin-top: 0;
  }

  .pdp-selected-image {
    display: block;
  }

  .pdp-part-fit-expanded {
    padding: 22px 72px 40px;
  }

  .pdp-part-fit-header {
    grid-template:
      "title search" auto
      "filter filter" auto
      "count count" auto / 1fr 400px;
  }

  .pdp-part-fit-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .section.accordion {
    max-width: 1270px;
    margin: auto;
  }

  .section.breadcrumbs {
    min-height: 69px;
  }

  .section.breadcrumbs .breadcrumb-list {
    max-width: 1270px;
    padding: 16px 50px 24px;
  }

  .pdp-part-fit-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .pdp-image-wrapper {
    max-width: calc(100% - 150px);
    margin: auto;
  }

  .pdp-image-list {
    justify-content: flex-start;
  }
}