.pdp-container {
  max-width: 1376px;
  margin: auto;
}

.pdp {
  padding: 15px;
}

.pdp-title {
 color: var(--primary-red);
 font-size: 50px;
 font-weight: 500;
}

.pdp-details-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.pdp-list-item {
  border: 1px solid var(--primary-black);
  padding: 8px 0 8px 15px;
  color: #353535;
  font-size: 16px;
  font-family: var(--headings-ff-black);
}

.pdp-list-item-value {
  font-family: var(--body-ff-bold);
}

.pdp-content-coulmn {
  margin-top: 20px;
}

.pdp-selected-image {
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0 0 0 / 10%);
  display: flex;
  justify-content: center;
}

.pdp-image {
  max-width: 400px;
  margin: auto;
}

.pdp-image-list {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.pdp-image-item {
  width: 72px;
  height: 62px;
  margin-right: 15px;
}

.pdp-image-item.active {
  border: 4px solid var(--primary-red);
}

.pdp-gallery-image,
.pdp-image {
  width: 100%;
  height: 100%;
}

.pdp-catalogs-wrapper,
.pdp-sds-wrapper {
  padding: 40px 0;
  border-bottom: 1px solid var(--primary-black);
}

.pdp-catalogs-title,
.pdp-sds-title {
  font-family: var(--headings-ff-black);
  font-size: 22px;
  color: var(--primary-red);
  text-transform: capitalize;
  margin-bottom: 10px;
}

.pdp-catalogs-list-item {
  display: flex;
  text-transform: uppercase;
}

.pdp-catalogs-list-title,
.pdp-catalogs-list-link {
  width: 300px;
  border: 1px solid var(--primary-black);
  padding: 8px 15px;
  font-size: 16px;
  font-family: var(--body-ff);
}

.pdp-catalogs-list-link a,
.pdp-sds-list-item a {
  color: var(--primary-red);
  text-decoration: none;
}


@media screen and (min-width: 767px) {
  .pdp-details-wrapper {
    flex-direction: row-reverse;
    padding: 0;
  }

  .pdp-image-column,
  .pdp-content-coulmn {
    flex: 1;
    padding: 20px;
  }

  .pdp-image-column{
    align-self: center;
  }
  
  .pdp-content-coulmn {
    margin-top: 0;
  }

  .pdp-selected-image {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  .pdp-image-wrapper {
    max-width: calc(100% - 150px);
    margin: auto;
  }

  .pdp-image-list {
    justify-content: flex-start;
  }
}