.pdp main .section {
    padding: 0;
  }
  
  .pdp .default-content-wrapper {
    margin: 0 auto 50px;
    padding: 50px 50px 100px;
  }
  
  .pdp h1.product-title {
    font-size: var(--heading-font-size-m);
    color: var(--primary-red);
    line-height: 35px;
    text-transform: uppercase;
    margin: 10px 0;
  }
  
  .pdp .product-description {
    font-size: var(--body-font-size-xs);
    color: var(--secondary-dark-gray);
    margin: 10px 0;
  }
  
  .pdp h3 {
    font-size: var(--body-font-size-m);
  }
  
  .pdp p {
    font-size: var(--body-font-size-s);
    color: var(--secondary-dark-gray);
    margin: 5px 0 30px;
  }
  
  @media (min-width: 992px) {
    .pdp h1.produc-title {
      font-size: var(--heading-font-size-xl);
      line-height: 55px;
    }
  }
  