.catalogs-table .catalogs-table-subsection {
  margin: 0 0 20px;
}

.catalogs-table .catalogs-table-heading {
  font-family: var(--headings-ff-black);
  font-size: var(--heading-font-size-s);
  text-transform: uppercase;
  scroll-margin: 80px;
  margin: 10px 0;
}

.catalogs-table .catalogs-table-list {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid var(--primary-black);
  border-top: 1px solid var(--primary-black);
}

.catalogs-table .catalogs-table-list .catalogs-table-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% / 2);
  border-right: 1px solid var(--primary-black);
  border-bottom: 1px solid var(--primary-black);
  padding: 5px;
  overflow: hidden;
}

.catalogs-table .catalogs-table-list .item-link {
  font-family: var(--headings-ff-black);
  font-size: var(--body-font-size-m);
  color: var(--primary-red);
  text-decoration: none;
}

.catalogs-table .catalogs-table-list .item-note {
  display: none
}

@media (min-width: 496px) {
  .section.catalogs-table-container {
    padding: 0 50px;
   }

  .catalogs-table .catalogs-table-subsection {
    margin: 0 0 60px;
  }

  .catalogs-table .catalogs-table-heading {
    scroll-margin: 170px;
  }

  .catalogs-table .catalogs-table-list .catalogs-table-item {
    flex-wrap: wrap;
  }

  .catalogs-table .catalogs-table-list .item-note {
    display: inline;
    font-size: calc(var(--body-font-size-s) - 2px);
    font-family: var(--body-ff);
    color: var(--primary-black);
    margin: 0 0 0 6px;
  }
}

@media (min-width: 768px) {
  .catalogs-table .catalogs-table-subsection-1 .catalogs-table-item,
  .catalogs-table .catalogs-table-subsection-2 .catalogs-table-item {
    width: calc(100% / 3);
  }
}
