.cookies-table {
  --text-scaling: 0.5;
}

.cookies-table table {
  border: 2px solid var(--primary-black);
  margin: 16px 0;
  width: 100%;
}

.cookies-table .cookies-table-head,
.cookies-table .cookies-table-cell {
  text-align: left;
  border: 2px solid var(--primary-black);
}

.cookies-table .cookies-table-row .t-0 {
  width: 25%;
}

.cookies-table .cookies-table-row .t-1 {
  width: 55%;
}

.cookies-table .cookies-table-row .t-2 {
  width: 20%;
}

.cookies-table th.cookies-table-head,
.cookies-table .cookies-table-cell {
  vertical-align: middle;
  padding: 2px 5px;
  overflow: auto;
}

.cookies-table th.cookies-table-head {
  text-transform: capitalize;
  background-color: var(--primary-light-gray);
  font-size: calc(var(--body-font-size-xs) * var(--text-scaling));
}

.cookies-table .cookies-table-cell {
  font-size: calc(var(--body-font-size-s) * var(--text-scaling));
}

.cookies-table .cookies-table-cell.bold-red {
  font-family: var(--headings-ff-black);
  color: var(--primary-red);
}


@media (min-width: 523px) {
  .cookies-table {
    --text-scaling: 0.8;
  }

  .cookies-table th.cookies-table-head {
    padding: 8px 10px;
  }

  .cookies-table .cookies-table-cell {
    padding: 8px 10px;
  }
}

@media (min-width: 992px) {
  .cookies-table th.cookies-table-head {
    font-size: var(--body-font-size-xs);
    padding: 12px 15px;
  }

  .cookies-table .cookies-table-cell {
    font-size: var(--body-font-size-s);
    padding: 12px 15px;
  }
}