.blog-article main .section {
  max-width: unset;
  padding: 0;
}

.blog-article .recommendations-wrapper,
.blog-article .current-article-container {
  max-width: 1270px;
  padding: 60px 50px 0;
  margin: auto;
}

.blog-article .default-content-wrapper {
  margin: 0 auto 50px;
  padding: 50px 50px 100px;
}

.blog-article h1.article-title {
  font-size: var(--heading-font-size-m);
  color: var(--primary-red);
  line-height: 35px;
  text-transform: uppercase;
  margin: 10px 0;
}

.blog-article .article-date {
  font-size: var(--body-font-size-xs);
  color: var(--secondary-dark-gray);
  margin: 10px 0;
}

.blog-article h3 {
  font-size: var(--body-font-size-m);
}

.blog-article p {
  font-size: var(--body-font-size-s);
  color: var(--secondary-dark-gray);
  margin: 5px 0 30px;
}

.blog-article .default-content-wrapper li {
  color: var(--primary-black);
}

@media (min-width: 992px) {
  .blog-article h1.article-title {
    font-size: var(--heading-font-size-xl);
    line-height: 55px;
  }
}
