.blog-article main .section {
  max-width: unset;
  padding: 0;
}

.blog-article .recommendations-wrapper {
  margin-top: 100px;
}

.blog-article .current-article-container > .article-title,
.blog-article .current-article-container > .article-date,
.blog-article .current-article-container > div:not(.recommendations-wrapper) {
  max-width: 1270px;
  padding: 0 50px;
  margin: 0 auto;
}

.blog-article .current-article-container h1.article-title {
  color: var(--primary-red);
  line-height: 55px;
  text-transform: uppercase;
  margin-top: 60px;
}

.blog-article .current-article-container .article-date {
  font-size: var(--body-font-size-xs);
  color: var(--secondary-dark-gray);
  margin: 30px auto 60px;
}

.blog-article h3 {
  font-size: var(--body-font-size-m);
}

.blog-article p {
  font-size: var(--body-font-size-s);
  color: var(--secondary-dark-gray);
  margin: 5px 0 30px;
}

.blog-article .default-content-wrapper li {
  color: var(--primary-black);
}

@media (min-width: 992px) {
  .blog-article h1.article-title {
    font-size: var(--heading-font-size-xl);
    line-height: 55px;
  }
}
