.manuals-table > div {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid var(--primary-black);
}

.manuals-table > div:not(:last-child) {
  border-block-end: unset;
}

.manuals-table .manuals-table-column {
  padding: 1rem;
}

.manuals-table .manuals-table-column:not(:last-child, .next-empty) {
  border-block-end: 1px solid var(--primary-black);
}

.manuals-table .manuals-table-column a {
  text-decoration: none;
  color: var(--primary-red);
  font-family: var(--headings-ff-black);
  font-size: var(--body-font-size-m);
}

.manuals-table .manuals-table-column.empty {
  display: none;
  border-block-start: none;
}

@media (min-width: 768px) {
  .manuals-table > div {
    grid-template-columns: 1fr 1fr;
  }

  .manuals-table > div.one-child {
    display: flex;
    width: fit-content;
  }

  .manuals-table .manuals-table-column:not(:last-child) {
    border-block-end: unset;
    border-inline-end: 1px solid var(--primary-black);
  }
}
