.filters-section {
  width: 100%;
  line-height: 22px;
  padding: 0 0 20px;
}

.filters-section h3.title {
  font-family: var(--headings-ff-bold);
  font-size: var(--body-font-size-m);
  color: var(--primary-white);
  background-color: var(--primary-red);
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  margin: 0;
}

.filters-section ul li.item {
  background-color: var(--c-light-gray);
  text-align: left;
  border: 1px solid var(--primary-medium-gray);
  border-top: none;
  padding: 10px;
}

.filters-section ul li.item:first-of-type {
  border-top: 1px solid var(--primary-medium-gray);;
}

.filters-section ul li.item a {
  font-size: var(--body-font-size-xs);
  color: var(--secondary-gray-4);
  text-decoration: none;
  text-transform: capitalize;
}

.filters-section ul li.item a:hover {
  color: var(--primary-red);
}