.section > .carousel-wrapper {
  margin: auto -16px;
  max-width: unset;
}

.carousel {
  background: #f0f0f0;
  padding: 0;
  height: 500px;
  overflow: hidden;
  width: 100vw;
  position: relative;
}

.carousel .carousel-slide-list {
  height: 100%;
}

.carousel .carousel-slide {
  display: none;
  height: 100%;
  position: relative;
  color: var(--primary-white);
  text-align: center;
  font-size: 19px;
  line-height: 19px;
}

.carousel .carousel-slide h1 {
  font-size: 24px;
  line-height: 40px;
}

.carousel .carousel-slide a.button {
  background-color: inherit;
  padding: 0;
}

.carousel .carousel-slide.carousel-slide-active {
  display: flex;
}

.carousel .carousel-slide-background {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
}

.carousel .carousel-slide-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-slide-content-wrapper {
  z-index: 1;
  margin: auto;
  width: 53%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1;
}

.carousel .carousel-controls {
  position: absolute;
  bottom: 17px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  gap: 11px;
}

.carousel .carousel-controls-pagination-step {
  border: 2px solid var(--primary-white);
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 50%;
}

.carousel .carousel-controls-pagination-step-active {
  background-color: var(--primary-white);
}

.carousel .carousel-arrows-controls {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel .carousel-arrows-left::after {
  content: url(/icons/arrow-left.png);
  cursor: pointer;
}

.carousel .carousel-arrows-right:after {
  content: url(/icons/arrow-right.png);
  cursor: pointer;
}

@media (min-width: 496px) {
  .carousel .carousel-slide,
  .carousel .carousel-slide a {
    font-size: 25px;
  }

  .carousel .carousel-slide h1 {
    font-size: 32px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .section > .carousel-wrapper {
    margin: auto -32px;
  }

  .carousel .carousel-slide,
  .carousel .carousel-slide a {
    font-size: 36px;
  }

  .carousel .carousel-slide h1 {
    font-size: 46px;
  }

  .carousel .carousel-arrows-controls {
    display: flex;
  }
}

@media (min-width: 992px) {
  .carousel .carousel-controls {
    margin-bottom: 80px;
  }
}