.part-category .hidden {
  display: none;
}

.part-category .more-button {
  cursor: pointer;
  font-family: var(--body-ff);
  color: var(--primary-red);
  margin: 0 0 0 5px;
  font-size: calc(var(--body-font-size-xs) - 2px);
}

.part-category .more-button.bottom-more-button {
  font-size: calc(var(--body-font-size-s) - 2px);
  margin-block-end: 3rem;
}

.category-pagination-wrapper .text-wrapper {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  justify-content: center;
  margin-block-end: 2rem;
}

@media (min-width: 1200px) {
  .category-pagination-wrapper .text-wrapper {
    justify-content: unset;
    margin: 0;
  }
}
