:root {
  --table-border: 1px solid var(--c-medium-gray-1);
  --table-bg: var(--c-light-gray);
  --item-font-size: calc(var(--body-font-size-xs) + 1px);
}

.category-filters-wrapper {
  width: 100%;
  line-height: 22px;
  padding: 0 0 20px;
}

.category-filters-wrapper .category-filters {
  border: 1px solid var(--primary-medium-gray);
}

.category-filters-wrapper .category-filters-title {
  font-family: var(--headings-ff-bold);
  font-size: var(--body-font-size-m);
  color: var(--primary-white);
  background-color: var(--primary-red);
  text-align: center;
  text-transform: uppercase;
  padding: 15px 30px;
  margin: 0;
}

.category-filters-wrapper .category-filter-list,
.category-filters-wrapper .category-filters-buttons-wrapper {
  background-color: var(--table-bg);
}

.category-filters-wrapper .category-filters-buttons-wrapper .clear-filter-btn,
.category-filters-wrapper .category-filters-buttons-wrapper .apply-filter-btn {
  font-feature-settings: "ss03" 1;
}

.category-filters-wrapper .category-filters-form .category-filters-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-block-end: var(--table-border);
  padding: 10px 20px;
  gap: 1rem;
}

.category-filters-wrapper .category-filters-form .category-filters-buttons-wrapper .filter-btn {
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1 1 100%;
}

.category-filters-wrapper .category-filters-form .category-filters-buttons-wrapper .filter-btn.primary {
  background-color: var(--primary-red);
  color: var(--primary-white);
  border-color: transparent;
}

.category-filters-wrapper .category-filters-form .category-filters-buttons-wrapper .filter-btn.secondary {
  background-color: var(--primary-white);
  color: var(--button-active);
  border: var(--table-border);
}

.category-filters-wrapper .category-filters-form .category-filters-buttons-wrapper .filter-btn:disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
}

.category-filters-wrapper .category-filters-list {
  font-size: 80%;
}

.category-filters-wrapper .category-filters-list .category-filters-item {
  padding: 20px 20px 10px;
}

.category-filters-wrapper .category-filters-list .category-filters-item:not(:last-of-type) {
  border-block-end: var(--table-border);
}

.category-filters-wrapper .plus-btn,
.category-filters-wrapper .category-filters-item-title {
  cursor: pointer;
}

.category-filters-wrapper .category-filters-title-wrapper.active :is(.plus-btn, .category-filters-item-title),
.category-filters-wrapper .plus-btn:hover,
.category-filters-wrapper .category-filters-title:hover {
  color: var(--primary-red);
}

.category-filters-wrapper .category-filters-title-wrapper {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-gray-4);
  align-items: center;
}

.category-filters-wrapper .category-filters-title-wrapper .category-filters-item-title {
  font-family: var(--body-ff);
  font-size: var(--item-font-size);
  margin: 0;
  cursor: pointer;
}

.category-filters-wrapper .category-filters-options-wrapper {
  padding-block-start: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.category-filters-wrapper .category-filters-options-wrapper.hidden {
  display: none;
}

.category-filters-wrapper .category-filters-options-wrapper .category-filters-input:checked {
  accent-color: var(--primary-red);
}

.category-filters-wrapper .category-filters-option {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

@media (min-width: 495px) {
  .category-filters-wrapper .category-filters-form .category-filters-buttons-wrapper .filter-btn {
    flex: unset;
  }
}
