/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 @import url('./reset.css');

 @font-face {
    font-family: "fontawesome Fallback";
    font-style: normal;
    font-weight: 400;
    src: local("Arial");
    ascent-override: 93.75%;
    descent-override: 6.25%;
    /* stylelint-disable-next-line number-no-trailing-zeros */
    line-gap-override: 0.00%;
    /* stylelint-disable-next-line number-no-trailing-zeros */
    size-adjust: 100.00%;
  }

 :root {
  /* BREAKPOINTS */
  --breakpoint-xxs: 495px;
  --breakpoint-xs: 768px;
  --breakpoint-small: 992px;
  --breakpoint-medium: 1024px;
  --breakpoint-large: 1200px;
  --breakpoint-extra-large: 1360px;

  /* Primary colors */
  --primary-black: #000;
  --primary-white: #fff;
  --primary-red: #b92530;
  --primary-dark-gray: #363636;
  --primary-medium-gray: #737478;
  --primary-light-gray: #eaeaea;

  /* Secondary colors */
  --secondary-black: #252525;
  --secondary-red: #8f1720;
  --secondary-dark-gray: #181818;
  --secondary-gray-1: #757378;
  --secondary-gray-2: #717372;
  --secondary-gray-3: #707372;
  --secondary-gray-4: #747474;
  --secondary-light-gray: #b1b7b8;

  /* Other colors */
  --c-light-gray: #f5f5f5;
  --c-light-gray-2: #e1dfdd;
  --c-medium-gray-1: #727376;
  --c-medium-gray-2: #808080;
  --c-light-red: #deaeb1;
  --c-yellow: #F6CA45;

  /* Applied colors */
  --link-color: var(--primary-red);
  --link-hover-color: var(--link-color);
  --background-color: var(--primary-white);
  --overlay-background-color: var(--primary-light-gray);
  --highlight-background-color: var(--secondary-light-gray);
  --text-color: var(--secondary-black);
  --button-active: var(--primary-red);
  --button-hover: var(--secondary-red);

  /* FONTS */

  /* Body */
  --body-ff: "Nexa Regular", var(--fallback-ff);
  --body-ff-bold: "Nexa Bold", var(--fallback-ff);
  --fixed-ff: menlo, consolas, monospace;

  /* Headings */
  --heading-ff-regular: var(--body-ff);
  --headings-ff-bold: "Nexa Bold", var(--fallback-ff);
  --headings-ff-x-bold: "Nexa XBold", var(--fallback-ff);
  --headings-ff-heavy: "Nexa Heavy", var(--fallback-ff);
  --headings-ff-black: "Nexa Black", var(--fallback-ff);

  /* Fontawesome */
  --ff-fontawesome: "fontawesome", "fontawesome Fallback";
  --ff-fontawesome-brands: "fontawesome-brands", "fontawesome Fallback";

  /* Fallback */
  --fallback-ff: "Arial Regular Text Fallback", helvetica, sans-serif;

  /* body sizes */
  --body-font-size-xl: 30px;
  --body-font-size-l: 22px;
  --body-font-size-m: 20px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 14px;

  /* h1 properties */
  --h1-font-size: 28px;
  --h1-line-height: 30px;

  /* heading sizes */
  --heading-font-size-xxl: 70px;
  --heading-font-size-xl: 52px;
  --heading-font-size-l: 40px;
  --heading-font-size-m: 35px;
  --heading-font-size-s: 22px;
  --heading-font-size-xs: 18px;
  --heading-font-size-xxs: 14px;

  /* nav properties */
  --nav-height-mobile: 80px;
  --nav-height-desktop-brand: 120px;
  --nav-height-desktop-links: 50px;
  --nav-height: var(--nav-height-mobile);
  --nav-max-width: 1264px;
  --nav-font-size: 17px;
  --nav-text-color: #808184;
  --nav-background: var(--primary-light-gray);

  /* Motions */
  --duration-small: 160ms;
  --duration-medium: 240ms;
  --duration-large: 320ms;
  --easing-entrance: cubic-bezier(0, 0, 0.4, 1);
  --easing-exit: cubic-bezier(0.2, 0, 1, 1);
  --easing-standard: cubic-bezier(0.2, 0, 0.1, 1);
}

@media (min-width: 992px) {
  :root {
    --nav-height: calc(var(--nav-height-desktop-brand) + var(--nav-height-desktop-links));
    --h1-font-size: 50px;
    --h1-line-height: 55px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-feature-settings: "ss02" 1;
  /* stylelint-disable-next-line property-no-unknown */
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  display: none;
  background-color: var(--background-color);
  color: var(--primary-black);
  font-size: var(--body-font-size-m);
  font-family: var(--body-ff);
  line-height: 1.6;
  margin: 0;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  text-transform: uppercase;
  font-family: var(--headings-ff-black);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  margin: 10px 0;
}

h2 {
  font-size: var(--heading-font-size-l);
  line-height: 50px;
  margin: 10px 0;
}

h3 {
  font-size: var(--heading-font-size-m);
  line-height: 38px;
  margin: 5px 0;
}

h4 {
  font-size: var(--heading-font-size-s);
  line-height: 22px;
  margin: 10px 0 20px;
}

h5 {
  font-size: var(--heading-font-size-s);
  line-height: 22px;
  margin: 10px 0;
}

h6 {
  font-size: var(--heading-font-size-xs);
}

code, pre, samp {
  font-family: var(--fixed-ff);
}

p {
  font-family: var(--body-ff);
  font-size: var(--body-font-size-s);
  color: var(--text-color);
  line-height: 30px;
  vertical-align: baseline;
  margin: 5px 0;
}

p a {
  font-family: var(--body-ff);
  font-size: var(--body-font-size-s);
  color: var(--link-color);
  line-height: 30px;
  vertical-align: baseline;
  text-decoration: none;
}

p strong {
  font-family: var(--body-ff-bold);
}

pre {
  overflow: scroll;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* SECTION styling */

main .section {
  line-height: 30px;
  padding: 50px 50px 0;
}

@media (min-width: 992px) {
  main .section {
    max-width: 1270px;
    padding: 60px 50px 0;
    margin: auto;
  }
}

a.button {
  display: block;
  width: fit-content;
  background-color: var(--button-active);
  color: var(--primary-white);
  font-size: var(--body-font-size-m);
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px 30px 10px;
}

a.button:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.title-red h1,
.title-red h2,
.title-red h3,
.title-red h4,
.title-red h5,
.title-red h6 {
  color: var(--primary-red);
}

.text-size-l p {
  font-size: var(--body-font-size-l);
  margin: 10px 0;
}

.list-red ul > li {
  font-size: var(--body-font-size-s);
  color: var(--primary-red);
  list-style-type: disc;
}

.button-center .button-container .button {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .image-50 img {
    max-width: 50%;
  }
}

/* default content styling */

div.default-content-wrapper {
  padding: 0;
}

.default-content-wrapper p {
  margin: 5px 0;
  line-height: 30px;
}

/* spacing element */
.section span.space {
  display: block;
  height: 40px;
  margin: 0;
  padding: 0;
}

.default-content-wrapper ul {
  list-style: circle;
  padding: 5px 0 5px 10px;
  margin: 0 0 20px 20px;
}

.default-content-wrapper ul > li {
  font-size: var(--body-font-size-s);
  color: var(--primary-black);
  list-style-type: disc;
}

.default-content-wrapper ul > li::marker {
  color: var(--primary-black);
}

.default-content-wrapper li a {
  color: var(--primary-red);
  text-decoration: none;
}

.default-content-wrapper li strong {
  font-family: var(--body-ff-bold);
}

.hide {
  display: none;
}

.hero-banner {
  position: relative;
}

.hero-banner h1 {
  color: var(--primary-white);
  text-shadow: 3px 2px var(--primary-black);
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 30%;
}

/* Section background settings */
main .section.section--black-bg {
  color: var(--primary-white);
  background-color: var(--primary-black);
}

main .section.section--white-bg {
  background-color: var(--primary-white);
}

main .section.section--secondary-red-bg {
  color: var(--primary-white);
  background-color: var(--secondary-red);
}

main .section.section--primary-medium-gray-bg {
  background-color: var(--primary-medium-gray);
}

main .section.section--no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}


