/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 @import url('./reset.css');

 @font-face {
    font-family: "fontawesome Fallback";
    font-style: normal;
    font-weight: 400;
    src: local("Arial");
    ascent-override: 93.75%;
    descent-override: 6.25%;
    /* stylelint-disable-next-line number-no-trailing-zeros */
    line-gap-override: 0.00%;
    /* stylelint-disable-next-line number-no-trailing-zeros */
    size-adjust: 100.00%;
  }

 :root {
  /* BREAKPOINTS */
  --breakpoint-xxs: 495px;
  --breakpoint-xs: 768px;
  --breakpoint-small: 992px;
  --breakpoint-medium: 1024px;
  --breakpoint-large: 1200px;
  --breakpoint-extra-large: 1360px;

  /* Primary colors */
  --primary-black: #000;
  --primary-white: #fff;
  --primary-red: #b92530;
  --primary-dark-gray: #363636;
  --primary-medium-gray: #737478;
  --primary-light-gray: #eaeaea;

  /* Secondary colors */
  --secondary-red: #8f1720;
  --secondary-dark-gray: #181818;
  --secondary-gray-1: #757378;
  --secondary-gray-2: #717372;
  --secondary-gray-3: #707372;
  --secondary-gray-4: #747474;
  --secondary-light-gray: #b1b7b8;

  /* Other colors */
  --c-light-gray: #f5f5f5;
  --c-medium-gray-1: #727376;
  --c-medium-gray-2: #808080;
  --c-light-red: #deaeb1;

  /* Applied colors */
  --link-color: var(--primary-red);
  --link-hover-color: var(--link-color);
  --background-color: var(--primary-white);
  --overlay-background-color: var(--primary-light-gray);
  --highlight-background-color: var(--secondary-light-gray);
  --text-color: var(--primary-black);
  --button-active: var(--primary-red);
  --button-hover: var(--secondary-red);

  /* FONTS */

  /* Body */
  --body-ff: "Nexa Regular", var(--fallback-ff);
  --body-ff-bold: "Nexa Bold", var(--fallback-ff);
  --fixed-ff: menlo, consolas, monospace;

  /* Headings */
  --heading-ff-regular: var(--body-ff);
  --headings-ff-bold: "Nexa Bold", var(--fallback-ff);
  --headings-ff-x-bold: "Nexa XBold", var(--fallback-ff);
  --headings-ff-heavy: "Nexa Heavy", var(--fallback-ff);
  --headings-ff-black: "Nexa Black", var(--fallback-ff);

  /* Fontawesome */
  --ff-fontawesome: "fontawesome", "fontawesome Fallback";

  /* Fallback */
  --fallback-ff: "Arial Regular Text Fallback", helvetica, sans-serif;

  /* body sizes */
  --body-font-size-xl: 30px;
  --body-font-size-l: 22px;
  --body-font-size-m: 20px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --h1-font-size: 24px;
  --heading-font-size-xxl: 70px;
  --heading-font-size-xl: 52px;
  --heading-font-size-l: 40px;
  --heading-font-size-m: 35px;
  --heading-font-size-s: 22px;
  --heading-font-size-xs: 18px;
  --heading-font-size-xxs: 14px;

  /* nav properties */
  --nav-height-mobile: 80px;
  --nav-height-desktop-brand: 120px;
  --nav-height-desktop-links: 50px;
  --nav-height: var(--nav-height-mobile);
  --nav-max-width: 1264px;
  --nav-font-size: 17px;
  --nav-text-color: #808184;
  --nav-background: var(--primary-light-gray);
}

@media (min-width: 495px) {
  :root {
    --h1-font-size: 32px;
  }
}

@media (min-width: 768px) {
  :root {
    --h1-font-size: 46px;
  }
}

@media (min-width: 992px) {
  :root {
    --nav-height: calc(var(--nav-height-desktop-brand) + var(--nav-height-desktop-links));
  }
}

@media (min-width: 1200px) {
  :root {
    --h1-font-size: 70px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: none;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--body-font-size-m);
  font-family: var(--body-ff);
  line-height: 1.6;
  margin: 0;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1 {
  font-family: var(--headings-ff-black);
  font-size: var(--h1-font-size);
}

h2, h3,
h4, h5, h6 {
  font-family: var(--headings-ff-bold);
}

h2 { font-size: var(--heading-font-size-l) }
h3 { font-size: var(--heading-font-size-m) }
h4 { font-size: var(--heading-font-size-s) }
h5 { font-size: var(--heading-font-size-xs) }
h6 { font-size: var(--heading-font-size-xxs) }

code, pre, samp {
  font-family: var(--fixed-ff);
}

p strong {
  font-family: var(--body-ff-bold);
}

pre {
  overflow: scroll;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* SECTION styling */
main .section {
  padding: 64px 16px;
}

@media (min-width: 768px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 992px) {
  .section > div {
    max-width: 1270px;
    margin: auto;
  }
}

a.button {
  background-color: var(--button-active);
  color: var(--primary-white);
  padding: 13px 30px;
  font-size: var(--body-font-size-m);
  text-decoration: none;
}

.hide {
  display: none;
}
