:root {
  --breadcrumb-hover: #15909c;
}

.section .breadcrumb-wrapper {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.breadcrumb-content {
  background-color: var(--primary-light-gray);
  padding: 8px;
}

.breadcrumb-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.breadcrumb a.breadcrumb-link {
  color: var(--secondary-gray-4);
  text-decoration: none;
  font-size: var(--body-font-size-s);
  margin: 0 3px 15px 0;
  text-transform: capitalize;
}

.breadcrumb a:hover {
  color: var(--breadcrumb-hover);
}

.breadcrumb a::after {
  content: '/';
  margin: 0 5px;
  color: var(--secondary-gray-4);
}

.breadcrumb .active-link::after {
  content: unset;
}

@media (min-width: 992px) {
  .breadcrumb-list {
    width: 1270px;
    padding: 0 50px;
  }
}
