:root {
  --breadcrumb-hover: #15909c;
}

.section.breadcrumb-container {
  background-color: var(--primary-light-gray);
  max-width: unset;
  width: 100%;
  padding: 0;
  margin: 0;
}

.section .breadcrumb-wrapper {
  max-width: 1270px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

.breadcrumb {
  overflow: auto;
}

.breadcrumb-content {
  background-color: var(--primary-light-gray);
  padding: 10px 0 10px 50px;
}

.breadcrumb-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.breadcrumb a.breadcrumb-link {
  color: var(--secondary-gray-4);
  text-decoration: none;
  font-size: var(--body-font-size-s);
  margin: 0 3px 15px 0;
  text-transform: capitalize;
}

.breadcrumb-list li a {
  display: inline-flex;
  width: max-content;
}

.breadcrumb-list .breadcrumb-item:nth-child(2) {
  display: none;
}

.breadcrumb a:hover {
  color: var(--breadcrumb-hover);
}

.breadcrumb a::after {
  content: '/';
  margin: 0 5px;
  color: var(--secondary-gray-4);
}

.breadcrumb .active-link::after {
  content: unset;
}

@media (min-width: 768px) {
  .breadcrumb-list .breadcrumb-item:nth-child(2) {
    display: block;
  }
}

@media (min-width: 992px) {
  .breadcrumb-content {
    padding: 10px unset;
  }

  .breadcrumb-list {
    max-width: 1270px;
    padding: 10px unset;
  }
}

@media (min-width: 1200px) {
  .breadcrumb-list li:last-of-type a {
    width: unset;
  }
}